<div class="card" style="width: 36rem;">
  <img src="" class="card-img-top" alt="photo du quad">
  <div class="card-body">
    <h5 class="card-title">Votre réservation</h5>
    <p class="card-text">
    <ul>
      <li>Début du booking : <%= @booking.start %></li>
      <li>Fin du booking : <%= @booking.end %></li>
    <ul></ul>
    </p>
  </div>
</div>

<%# formulaire de crétion de review %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
