<div class="footer">
  <div class="container">
  <div class = line-link>
    <div class = "logo">
      <p>KiMounS</p>
    </div>

    <div class="rules">
      <a class="-link active" style="height:2em" aria-current="page" href="/">Accueil</a>
      <a class="-link" style="height:2em" href="#">Conditions d'utilisation</a>
      <a class="-link" style="height:2em" href="#">Mentions légales</a>
    </div>

    <div class="connect">
      <a class="-link active" style="height:2em" aria-current="page" href="#">Mon profil</a>
      <a class="-link" style="height:2em" href="#">Les offres</a>
      <a class="-link" style="height:2em" href="#">Mon tableau de bord</a>
    </div>
  </div>

  <div class = "line-icone">
    <div class="footer-links">
      <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/"target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://fr-fr.facebook.com/"target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/?lang=fr"target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://fr.linkedin.com/"target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      <i class="fa-regular fa-copyright"></i>
      <p> </p>
      <p>2022 Kimouns</p>
    </div>
  </div>
  </div>
</div>
