<div class="footer fixed-bottom">
  <div class="container">
  <div class = line-link>
    <div class = "logo">
      <p>KiMounS</p>
    </div>

    <nav class="nav rules ">
      <a class="nav-link active" aria-current="page" href="/">Accueil</a>
      <a class="nav-link" href="#">Conditions d'utilisation</a>
      <a class="nav-link" href="#">Mentions légales</a>
    </nav>

    <nav class="nav connect ">
      <a class="nav-link active" aria-current="page" href="#">Mon profil</a>
      <a class="nav-link" href="#">Mes offres</a>
      <a class="nav-link" href="#">Mon tableau de bord</a>
    </nav>
  </div>

  <div class = "line-icone">
    <div class="footer-links">
      <a href="https://github.com/"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter"></i></a>
      <a href="https://fr.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      <i class="fa-regular fa-copyright"></i> 2022 Kimouns
    </div>
  </div>

  <div>
    <p><span class="">KiMounS, société immatriculée sous le numéro 832 907 999  au R.C.S. de FORT-DE-FRANCE, exploitant le nom commercial KiMounS, agréée par l’Autorité de Contrôle Prudentiel et de Résolution (« ACPR ») (agrément consultable dans le Registre des agents financiers) </span></p>
  </div>
  </div>
</div>
