<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KiMounS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
        <% if current_user.nil? %>
        <h5>Login</h5>
          <% else %>
          <%= current_user.first_name %></h5>
        <% end %>
        <% if current_user.nil? %>
        <% else %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 80, width: 80, crop: :fill, class: "rounded-circle" %>
          <% else %>
            <img style="width: 80px; height: 80px; border-radius: 100px;" src="https://res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_250,w_250/docs/model.jpg">
          <% end %>
        <% end %>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="profile">Profil</a>
          <a class="nav-link active" aria-current="page" href="offers">Les offres</a>
          <a class="nav-link active" aria-current="page" href="dashboard">Tableau bord</a>

          </li>

            <%= link_to 'Se déconnecter', destroy_user_session_path, data: { turbo_method: 'delete' } %>
        </ul>
        <form class="d-flex mt-3" role="Que recherchez vous ?">
          <input class="form-control me-2" type="Que recherchez vous ?" placeholder="Que recherchez vous ?" aria-label="Que recherchez vous ?">
          <button class="btn btn-success" type="submit">Rechercher</button>
        </form>
      </div>
    </div>
  </div>
</nav>
