<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ecoservices-martinique.com/wp-content/uploads/personnel-bricolage-ecoservices-martinique.jpeg);">
  <div class="container">
    <h1>KiMounS <strong>Troc</strong> et <strong>prêt de matériel</strong>!</h1>
  </div>
</div>



<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KiMounS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="banner">
  <div class="container">
  </div>
</div>
<div>
  <section class="home-top relative">
    <div class="home-top-header container container--large">
      <div class="home-top-header-logo-container">
       </div>
         <div class="container container--large z-2 flex flex-wrap flex-end pd-vt-xxl">
          <div class="relative col-3-5 z-1 flex flex-column">
            </div>


              <h2 class="text-xxxl text-xxl text-neutral-90 bold mg-bottom-l text-center">
                350 400 habitants et
                professionnels partout en Martinique
            </h2>
            <div class="flex flex-center flex-wrap flex-vertical-center">
                </div>
            </div>
            <div class="mg-top-s text-center">
            </div>
    </div>
</section>
</div>
</div>






<section class="home-parts relative bg-pink-10 pd-vt-xl">

        <div class="flex flex-wrap flex-start mg-vt">
            <div class="col-1-3 pd flex flex-column">
                <picture class="block mg-hz-auto mg-bottom-xs">
                    <source media="(max-width: 768px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-vibre-s.png">
                    <source media="(min-width: 769px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-vibre-l.png">
                    <img src="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-vibre-l.png" alt="Allovoisins // Gallerie" loading="lazy">
                </picture>
                <p class="text-center semibold">1. Je propose mes services ou je rends service</p>
            </div>

            <div class="col-1-3 pd flex flex-column">
                <picture class="block mg-hz-auto mg-bottom-xs">
                    <source media="(max-width: 768px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-bricolage-s.png">
                    <source media="(min-width: 769px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-bricolage-l.png">
                    <img src="https://static.allovoisins.com/images/illustrations/homepage/homepage-bricolage-l.png" alt="Allovoisins // Gallerie" loading="lazy">
                </picture>
                <p class="text-center semibold">2. Je réponds aux demandes et réalise des prestations.</p>
            </div>

            <div class="col-1-3 pd flex flex-column">
                <picture class="block mg-hz-auto mg-bottom-xs">
                    <source media="(max-width: 768px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-s.png">
                    <source media="(min-width: 769px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-l.png">

                </picture>
            </div>
    </div>
    <div class="wave wave-bottom bg-pink-10"></div>
</section>
