<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.clubvillamar.fr/content/lloret-de-mar/wp-content/uploads/2021/01/Quad-huren-in-Lloret-de-Mar.jpg');">
  <div class="container">
    <h1> KiMounS </h1>
  </div>
</div>
<div>
  <section class="home-top relative">
    <div class="home-top-header container container--large">
      <div class="home-top-header-logo-container">
       </div>
         <div class="container container--large z-2 flex flex-wrap flex-end pd-vt-xxl">
          <div class="relative col-3-5 z-1 flex flex-column">
            <div class="home-top-background">
                <picture class="block hz-auto">
                    <source media="(max-width: 1024px)" srcset="https://static.allovoisins.com/images/pages/home/background_mechanic_s.jpg">
                    <source media="(min-width: 1025px)" srcset="https://static.allovoisins.com/images/pages/home/background_mechanic_l.jpg">
                    <img src="KiMouns" width="900px" height="325px" alt="AlloVoisins - Marketplace de prestations de services et de location de matériel">
                </picture>
            </div>
              <h1 class="big_slogan text-neutral-90 bold text-center">
                Prestations de services
                <br>
                et location de matériel
              </h1>
              <h2 class="text-xxxl text-xxl text-neutral-90 bold mg-bottom-l text-center">
                350 400 habitants et
                professionnels partout en France
            </h2>
            <div class="flex flex-center flex-wrap flex-vertical-center">
                </div>
            </div>
            <div class="mg-top-s text-center">
                <p data-widget="signin" class="link link--underline text-neutral-80 text-l">
                    Déjà inscrit ? Me connecter
                </p>
            </div>
    </div>
</section>
</div>
    Et la vie devient facile
  </div>
</div>
<div>
<ul>
  <li>Choisissez un Taskeur en fonction de ses compétences</li>
  <li>Choisissez le jour et l'heure de la Task</li>
  <li>Chattez, evaluez votre Taskeur</li>
  </ul>
</div>
