<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ecoservices-martinique.com/wp-content/uploads/personnel-bricolage-ecoservices-martinique.jpeg);">
  <div class="container">
    <h1 style="font-size: 65px; margin-bottom: 20px;">KiMounS</h1>
    <p data-controller="typed-js" style="font-size: 30px; letter-spacing: 3px;"></p>
    <a class="btn btn-success" href="/offers" style="color: #fff; font-weight: 300;">Voir toutes les offres</a>
    <a class="kelly btn btn-flat" href="/offers/new" style="color: #fff; font-weight: 300;">Déposer une annonce</a>
  </div>
</div>
<div class="container">
  <center><h1 class="mt-5 mb-5 text-center">200 400 utilisateurs en Martinique 🎉</h1></center>
  <div class="slide-left mb-5">
    <div class="card-left">
      <div class="left-text">
        <h4>Comment ça <span id="sp-green"> marche ?</h4></span>
        <h1> Découvrez Kimouns </h1>
        <p>Gagnez du temps et de l'argent en troquant des services. Grâce à <b>Kimouns</b> proposer vos services et recevez de l'aide. Fini les tracas du quotidien.
        Avec Kimouns, le partage du savoir faire <b>gratuitement</b> (et ça le restera toujours) est à porté de main. Avec une communauté de plus de 200 000 utilisateurs, Kimouns est la référence du partage de services en Martinique.</p>
      </div>
      <div class="img-right">
        <img src="https://res.cloudinary.com/hello-my-business/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1669771109/undraw_neighbors_ciwb_wzvkxi.jpg">
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="slide-right">
    <div class="card-right">
      <div class="img-left">
        <img src="https://res.cloudinary.com/hello-my-business/image/upload/v1669773321/undraw_Join_re_w1lh-removebg-preview_derqhu.png">
      </div>
      <div class="right-text">
        <h4>Comment ça <span id="sp-green"> marche ?</h4></span>
        <h1> Découvrez Kimouns </h1>
        <p>Kimouns est la marketplace de référence dédiée aux services d'entraides <b>gratuis</b> et à la location de matériel , rassemblant une communauté de plusieurs centaines de milliers de membres.</p>
      </div>
    </div>
  </div>
</div>
