<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ecoservices-martinique.com/wp-content/uploads/personnel-bricolage-ecoservices-martinique.jpeg);">
  <div class="container">
    <h1 style="font-size: 65px; margin-bottom: 20px;">KiMounS</h1>
    <p data-controller="typed-js" style="font-size: 30px; letter-spacing: 3px;"></p>
    <a class="btn btn-success" href="/offers" style="color: #fff; font-weight: 300;">Voir toutes les offres</a>
    <a class="kelly btn btn-flat" href="/offers/new" style="color: #fff; font-weight: 300;">Déposer une annonce</a>
  </div>
</div>

<h2 class="text-xxxl text-xxl text-neutral-90 bold mg-bottom-l text-center mt-5">200 400 utilisateurs en Martinique 🎉</h2>
<section class="home-parts relative bg-pink-10 pd-vt-xl">

<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="3u">
					<section class="widget links">
						<h5>COMMENT CA MARCHE?</h5>
            <p>Gagnez du temps et de l'argent en troquant des services</p>

					</section>

			</div>
			<div class="3u">


					<section class="widget links">
            <h5>POURQUOI KIMOUNS?</h5>

          </section>
