<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ecoservices-martinique.com/wp-content/uploads/personnel-bricolage-ecoservices-martinique.jpeg);">
  <div class="container">
    <h1 style="font-size: 65px; margin-bottom: 20px;">KiMounS</h1>
    <p data-controller="typed-js" style="font-size: 30px; letter-spacing: 3px;"></p>
    <a class="btn btn-success" href="/offers" style="color: #fff; font-weight: 300;">Voir toutes les offres</a>
  </div>
</div>

<h2 class="text-xxxl text-xxl text-neutral-90 bold mg-bottom-l text-center mt-5">200 400 utilisateurs en Martinique 🎉</h2>
<section class="home-parts relative bg-pink-10 pd-vt-xl">

        <div class="flex flex-wrap flex-start mg-vt">
            <div class="col-1-3 pd flex flex-column text-center">
                <picture class="block mg-hz-auto mg-bottom-xs">
                    <source media="(max-width: 768px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-vibre-s.png">
                    <source media="(min-width: 769px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-vibre-l.png">
                    <img src="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-vibre-l.png" alt="Allovoisins // Gallerie" loading="lazy">
                </picture>
                <p class="text-center semibold">1. Je propose mes services ou je rends service</p>
            </div>

            <div class="col-1-3 pd flex flex-column text-center">
                <picture class="block mg-hz-auto mg-bottom-xs">
                    <source media="(max-width: 768px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-bricolage-s.png">
                    <source media="(min-width: 769px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-bricolage-l.png">
                    <img src="https://static.allovoisins.com/images/illustrations/homepage/homepage-bricolage-l.png" alt="Allovoisins // Gallerie" loading="lazy">
                </picture>
                <p class="text-center semibold">2. Je réponds aux demandes et réalise des prestations.</p>
            </div>

            <div class="col-1-3 pd flex flex-column">
                <picture class="block mg-hz-auto mg-bottom-xs">
                    <source media="(max-width: 768px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-s.png">
                    <source media="(min-width: 769px)" srcset="https://static.allovoisins.com/images/illustrations/homepage/homepage-telephone-l.png">

                </picture>
            </div>
    </div>
    <div class="wave wave-bottom bg-pink-10"></div>
</section>
