
<div class="container">
  <h1>Offers#show</h1>
  <p>Find me in app/views/offers/show.html.erb</p>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
      <div class="show-map-container">
        <div style="width: 100%; height: 100%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="pk.eyJ1Ijoib3ZuaSIsImEiOiJjbGFzbDBsNGYyMG5yM29uNjV6eXQ0aXRtIn0.G5I50tvtExmpPtIxQWgrkQ"></div>
      </div>
    </div>
  </div>
</div>
