
<div class = "container">
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>Mon offre : <strong><%= @offer.name %></strong> !</h1>
      <p> <%= @offer.description %> </p>
    </div>
</div>

<a class="btn btn-flat" href="#">Je réserve</a>
</div>
