.button-dashboard {
  border-radius: 0.95rem;
  background-color:#228b22!important;
  color: white!important;
}

.button-index {
  border-radius: 0.95rem;
  background-color:#228b22!important;
  color: white!important;
}
