#spe{
  margin: 15px;
}

.card-grey {
  background-color: #dee7e7;
}

.youpi {
  display: flex;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: inline-block;
  margin: 10px;
}

#img-card{
 height: 286px;
}

#text-card {
  color: #000000;
}

.container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

.card-dashboard {
  border-radius: 0.95rem;
  margin: 10px 0;
}

.card-green {
  border:	#73bfb8 solid 3px !important;
}

.card-blue {
  border:	#2364aa solid 3px !important;
}

.card-orange {
  border:	#ea7317 solid 3px !important;
}

.card-arrangement {
  border:	#2364aa solid 3px !important;
  box-shadow: 10px 5px 5px #8b9fb5 !important;
}


.img-border-top {
  border-radius: 0.75rem 0.75rem 0 0;
}

.card-trip-user {
  position: revert;
  right: 16px;
  top: -20px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

#dispo{
  display: flex !important;
  align-items: self-end;
  place-content: space-between;
}

.card-offer {
  border-radius: 0.95rem;
  border:	#73bfb8 solid 3px !important;
  width: 21rem;
  padding: 0 !important;
}

#img-card{
  object-fit: cover;
}
.row{
  place-content: center!important;
}
