#spe{
  margin: 15px;
}

.card-grey {
  background-color: #dee7e7;
}

.youpi {
  display: flex;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: inline-block;
  margin: 10px;
}

#img-card{
 height: 286px;
}

#text-card{
  color: #14C38E;
}
.container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

.card-dashboard {
  border-radius: 0.95rem;
  border:3px solid	#228b22;
  margin: 10px 0;
}

.img-border-top {
  border-radius: 0.75rem 0.75rem 0 0;
}

.card-trip-user {
  position: revert;
  right: 16px;
  top: -20px;
  width: 60px;
}

#dispo{
  display: flex !important;
  align-items: self-end;
  place-content: space-between;
}

.card-offer {
  border-radius: 0.95rem;
  border:3px solid	#228b22;
  width: 19rem;
  padding: 0 !important;
}
