.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: #F4F4F4;
  color: #444444 !important;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #444444 !important;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: #444444 !important;
}

.line-link {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #444444 !important;
}

.line-icone {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #444444 !important;
}

.footer-copyright {
  display: flex;
  align-items: flex-end;
  padding: 16px;
}
