.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: #F4F4F4;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.line-link {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.line-icone {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  display: flex;
  align-items: flex-end;
  padding: 16px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 letter-spacing: 2rem;
}

a {
  text-decoration: none;
  color: #444444;
}
