.form-booking {
  width: 550px;
  border-radius: 0.95rem;
  padding: 2rem;
  box-shadow: 10px 5px 5px #aebebd !important;
  margin: 2rem 0 2rem auto;
  border: 	#73bfb8 solid 3px !important;
}

.add-offer, .review {
  width: 550px;
  border-radius: 0.95rem;
  padding: 2rem;
  box-shadow: 10px 5px 5px #aebebd !important;
  margin: 2rem 0 2rem auto;
  border: 	#73bfb8 solid 3px !important;
}
