.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "raleway", sans-serif;
}

.show-map-container {
  width: 100%;
  height: 350px;
  border-radius: 0.75rem;
  border: 5px solid #228b22;
}

.profile-map-container {
  width: 100%;
  height: 350px;
  padding: 1rem;
  border-radius: 0.75rem;
}

.mapboxgl-map {
  width: 100%;
  border: 3px solid #73bfb8 !important;
  border-radius: 0.75rem;
  box-shadow: 10px 5px 5px #aebebd !important;
}

.offer-type {
  width: 100%;
  height: 350px;
  border: 3px solid #73bfb8 !important;
  border-radius: 0.75rem;
  box-shadow: 10px 5px 5px #aebebd !important;
}
