.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.show-map-container {
  width: 100%;
  height: 350px;
  // padding: 0.1rem;
  // border-radius: 0.75rem;
  // background-color:	#228b22;
  // border:3px solid	#228b22;
}

.profile-map-container {
  width: 100%;
  height: 350px;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color:	#228b22;
}
.mapboxgl-map {
  border: 5px solid #228b22;
  border-radius: 0.75rem;
}

