.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form-control {
  border-radius: 24px;
}

.bouton {
  border-radius: 24px;
}

.waviy {
  position: relative;
  width: 100vw;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: rgb(209, 200, 21);
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateX(360deg)
  }
}

div#placement > img {
  margin-left: 100%;
}

button.btn-close.btn-close-white {
  margin-left: -4%;
}
